html, body {
	margin: 0;
	height: 100%;
}
body {
    background-color: #f4f4f4;
	color: #555;
	font-size: 16px;
	line-height: 1.6em;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	text-align: center;
	font-weight: bolder;
}

.container {
	display: flex;
	justify-content: center;
	height: 100%;
}

.content {
	background-color: aqua;
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-top: 30px;
}

.pImg:hover {
	cursor: pointer;
	width: 100px;
	height: 100px;
}

img {
	height: 85px;
	width: 85px;
}

.score {
	text-align: center;
}

.cpuImgs,
.playerImgs {
	display: flex;
	justify-content: space-around;
	border-style: solid;
	border-width: 3px;
	padding: 8px;
}

.reset {
    display: none;
	border-radius: 6px;
	color: white;
	background-color: #555;
	font-family: Arial, Helvetica, sans-serif;
	align-self: center;
}

.reset:hover {
	cursor: pointer;
}

.active {
	width: 100px;
	height: 100px;
}

.winnerDiv {
	display: flex;
	flex-direction: column;
}